.message {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-right: 10px;
}

.imageAndText {

}

.imageAndText img {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5px;

}

.text {
    background-color: #0066cc;
    display: inline-block;
    border-radius: 5px;
    padding: 0px 7px 7px 7px;
    color: #DDEEFF;
    margin: 6px 22px 9px 22px;


}

.text:after {

}

.name {
    text-align: right;


}

.messageText {

}

.time {
   position: relative;
    top: 50px;
    left: -6px;

    font-size: 10px;

}