.friendMessage {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 30px;
    margin-left: 10px;
}

.friendImageAndText {

}

.friendImageAndText img {
    height: 40px;
    width: 40px;
    position: relative;
    top: 10px;
    margin-right: 5px;
}

.friendText {
    background-color: #DDEEFF;
    display: inline-block;
    border-radius: 5px;
    padding: 0px 7px 7px 7px;
}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {
    position: absolute;
    top: 50px;
   left: 8px;
    font-size: 10px;
}
